a.sidemenu-btn, a.sidemenu-btn2 {color: #fff;font-size: 22px; padding-left: 10px;}
.sidemenu,.sidemenu2 {overflow: auto; background: #fff; height: 100%; padding: 45px 30px !important; width: 290px !important; z-index: 9999; position: fixed; left: -360px; top: 0; -webkit-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); -moz-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); -o-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);-moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);}
.sidemenu.slidein,.sidemenu2.slidein {left: 0;}
.close-menu,.close-menu2 {color: #222; float: right; font-size: 16px; height: 30px; width: 30px; text-align: right;}
.sidemenu ul,.sidemenu2 ul { float: left; margin-top: 30px; width: 100%;list-style: none;}
.sidemenu ul li,.sidemenu2 ul li {border-bottom: 1px solid #ebebeb; float: left; font-size: 12px; line-height: 20px; text-transform: uppercase; width: 100%;}
.sidemenu ul li a,.sidemenu2 ul li a {float: left; padding: 10px; width: 100%; color: #222222; font-weight: 400;}
.sidemenu ul li.menu-item-has-children > a,.sidemenu2 ul li.menu-item-has-children > a {position: relative; width: 100%;text-decoration: none;}
.sidemenu ul ul,.sidemenu2 ul ul {display: none; margin: 0 0 10px; padding: 0 15px;}
.sidemenu ul li.menu-item-has-children > a::after {content: "\f107"; font-family: fontawesome; font-size: 15px; position: absolute; right: 0;}
.sidemenu ul li:last-child,.sidemenu2 ul li:last-child {border: 0;}
.sidemenu2 ul li {text-transform: none;}
.sidemenu2 ul li a {color: #444; font-size: 16px; font-weight: bold;text-decoration: none;}
.sidemenu2 ul li a:hover {color: #F46717; text-decoration: none;}
.sidemenu2 ul li a span {color: #666; font-size: 12px; font-weight: normal; display: block;}
.sidemenu2 ul li.menu-item-has-children > a::after {content: "\f107"; font-family: fontawesome; font-size: 15px; position: absolute; right: 70px; top: 21%;}

.catalog-menu{
    background: #474A51;
    padding: 10px;
}